// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-block {

}

.question {

}

.answers {
  list-style-type: none;
}

.answer {

}

.banner { position: relative; overflow: auto; background-color:red; min-height: 100px;}
.banner li { list-style: none; }
.banner ul li { float: left; color: white; }
