<h1>DASHBOARD</h1>
<h2>Name: <%= current_user.name %></h2>
<h2>Email: <%= current_user.email %></h2>
<h2>Password: <%= current_user.password_digest %></h2>
<%= link_to "Log out", logout_path, method: "delete"  %>
